:root{
    --primary: #1479FF;
    --primary-color: #fff;
    --secondary: rgba(20, 165, 255, .15);
    --secondary-color: #14A5FF;
    --bg: #F8F9FD;
    --bg-color: #6B7280;
    --black: #111827;
}
