.wrap{
  display: flex;
  flex-direction: column;
}
.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .avatar{
    flex: 0 0;
    padding-right: 1.6rem;
  }
  & .info{
    display: flex;
    justify-content:space-between;
    flex: 1 1 auto;
    & .infoContent{
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      padding-right: 1rem;
      & .title{
        color: var(--black);
        font-size: 2rem;
        line-height: 1.3;
      }
      & .subTitle{
        margin-top: 1rem;
        color: var(--bg-color);
      }
      & .desc{
        margin-top: .3rem;
        color: var(--bg-color);
      }
    }
    & .actions{
      justify-content: flex-end;
      flex: 1 1;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }
  }
}
.bottom{
  margin-top: 1.6rem;
  background: var(--bg);
  color: var(--bg-color);
  padding: 0 1.2rem;
  height: 3.6rem;
  display: flex;
  align-items: center;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
}
.actionEdit{
  width: 15rem;
}
@media (max-width: 620px) {
  .top{
    align-items: flex-start;
    & .info{
      flex-wrap: wrap;
    }
    & .actions{
      padding-top: 1.5rem;
      width: 100%;
    }
  }
}
